language: scala
scala:
  - 2.10.7
  - 2.11.12
  - 2.12.8
jdk:
  - oraclejdk8
  - openjdk8
  - openjdk11
dist: trusty
sudo: false
notifications:
  email:
    - matthew@farwell.co.uk
before_install:
  - pip install --user codecov
script:
  - sbt ++$TRAVIS_SCALA_VERSION coverage test
after_success:
  - codecov
