language: scala
scala:
  - 2.10.6
  - 2.11.11
  - 2.12.2
jdk:
  - oraclejdk8
  - openjdk8
sudo: false
notifications:
  email:
    - matthew@farwell.co.uk
before_install:
  - pip install --user codecov
script:
  - sbt ++$TRAVIS_SCALA_VERSION coverage test
after_success:
  - codecov
